/* Your styles here */
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: black;
  text-align: center;
}
.laptopsfondo {
  background-image: url(../images/banner.jpg);
  background-size: contain;

  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  max-height: 100%;
}
h1 {
  color: white;
  padding-bottom: 1rem;
  font-size: 24px;
}
p {
  font-size: 16px;
  padding-bottom: 1rem;
}
.headerh1 {
  color: #34a8c7;
}
#button {
  background-color: #f14c2f;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
main {
  text-align: center;
}
h3 {
  color: #34a8c7;
  font-size: 18px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.fototonda {
  padding-bottom: 2rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.fototonda img {
  border-radius: 50%;
}
.bloccoarancio {
  background-color: #f14c2f;
  color: white;
}
#schede {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.schedeimg {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding: 0;
}

footer {
  background-color: #25a2c3;
}
footer a {
  color: white;
}
footer i {
  color: white;
}
footer p {
  color: white;
}
